.search_and_filter_panel
	width: 800px
	margin: 0 auto

.search_menu_flex
	width: 800px
	margin-left: 15px
	display: flex
	flex-direction: row
.buy_btn 
	color: #d5a069
	background-color: #dad2c5
	padding: 5px 15px
	border: 1px solid white
	border-radius: 5px
	cursor: pointer
	margin: 0px 5px 10px 20px

#searchCoffee
	width: 180px
	height: 30px
	background: #FFFFFF
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25)
	border-radius: 4px
	font-size: 12px
	padding: 6px 36px
	border: none
	margin-left: 19px
	margin-right: 83px

.filter_style
	min-width: 75px
	height: 30px
	//padding: 6px auto
	background: #FFFFFF
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25)
	font-size: 12px
	border: none
	cursor: pointer
	margin-right: 5px
	
#all
	border-radius: 4px 0px 0px 4px

#columbia	
	border-radius: 0px 4px 4px 0px

.filter_mr
	margin-right: 35px

.search_flex
	display: flex
	flex-direction: row
	/* justify-content: space-between */
	flex-wrap: wrap
	margin: 0 auto
	width: 800px
	padding-inline-start: 0px
	margin-block-start: 0px
	margin-block-end: 0px
	margin-bottom: 30px
	

.search_flex_item
	width: 220px
	min-height: 266px
	filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25))
	background: #FFFFFF
	border-radius: 8px
	margin-top: 60px
	margin-right: 60px
	list-style-type: none
	&:nth-child(3n)
		margin-right: 0px

.search_item_img
	display: block
	width: 150px
	height: 130px
	margin: 0 auto
	margin-top: 28px

// cart	
.cart 
	display: block
	min-width: 500px
	padding-left: 5px
	cursor: pointer
	position: fixed
	left: 47%
	top: 6%
	z-index: 50

.cart_img
	display: block
	margin-left: 425px
	margin-bottom: 5px
	width: 50px
	cursor: pointer

.cart_title
	display: flex
	justify-content: space-between
	margin-bottom: 20px

.cart_title_item_margin
	margin-right: 100px

.cart_list 
	background-color: rgba(218, 210, 197, 0.8)
	border: 1px solid #d5a069
	border-radius: 5px
	margin-right: 12px
	padding: 10px

.cart_items_display_none
	display: none

.cart_item
	display: flex
	cursor: pointer
	margin-bottom: 15px
	justify-content: space-between

.cart_item_name
	min-width: 200px
	display: inline-block
	margin-right: 10px
	
.cart_item_country
	display: inline-block
	margin-right: 10px
	min-width: 90px
.cart_item_price 
	display: inline-block

.cart_total
	position: relative
	left: 75%
	margin-bottom: 15px
	color: #4c4944
	font-size: 17px

.cart_btn
	position: relative
	left: 70%
	color: #b78d61
	background-color: #4c4944

.cart_trash_can 
	background-color: #dad2c500
	border: none
	cursor: pointer
	img
		width: 20px



	
